---
import '../styles/global.css'

import Navigation from '../components/Navigation.astro'

const pageTitle="About Me";

const identity = {
  firstName:"James",
  country:"India",
  occupation:"Street cleaner",
  hobbies: ["Drawing", "Language Learning", "Writing"]
};

const skills = ["Rust", "Assembly", "Python", "Astro", "HTML", "SQL"];

const happy = false;
const finished = true;
const goal = 3; 

const skillcolor = "green";
const fontWeight = "bold";
const textCase = "uppercase";

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{skillcolor, fontWeight, textCase}}>
      
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skills {
        color: var(--skillcolor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);

      }

    </style>
	</head>
	<body>
        
        <Navigation />
        
        <h1>My Astro Site</h1>
        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>
      
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

        <p>Here are a few facts about me:</p>

        <ul>
          <li>I am {identity.firstName}.</li>
          <li>I live in {identity.country} and I work as a {identity.occupation}</li>
          {identity.hobbies.length >= 2 && 
          <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</li>}

        </ul>

        <p>A list of my skills:</p>
        <ul>
          {skills.map((skill) => <li class="skills">{skill}</li>)}
        </ul>

        <p>More info:</p>
        {happy && <p>I am happy to be learning astro.</p>}
        {finished && <p>I have finished my first blog.</p>}
        {goal === 3 ? <p>I have finished in 3 days</p>  : <p>I have not finished</p>}

      </body>
</html>
